name: CI

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Backend - Install deps
        working-directory: backend
        run: |
          python -m venv venv
          . venv/bin/activate
          pip install -r requirements.txt

      - name: Frontend - Install deps
        working-directory: frontend
        run: |
          npm install
          npm run build
